@charset "utf-8";

*{
    box-sizing: border-box;
}
.container{
    /* 
    --resizer-width:10px;
    --resizer-height:10px;
    --border-color:#0066ff;
    --border-width:1px;
    */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --resizer-width-gap:calc( ( var(--resizer-width,10px) - var(--border-width,1px) ) / 2);
    --resizer-height-gap:calc( ( var(--resizer-height,10px) - var(--border-width,1px) ) / 2);

    touch-action: none;
}
.wrap{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.mover{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border:var(--border-width,1px) solid var(--border-color,#0066ff);
}
.resizer{
    width: var(--resizer-width,10px);
    height: var(--resizer-height,10px);
    border:var(--border-width,1px) solid var(--border-color,#0066ff);
    background-color: #fff;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
}

.resizer[data-resizer ^= "0"]{ top:calc( var(--resizer-height-gap) * -1 ); }
.resizer[data-resizer ^= "1"]{ top:calc( 50% - var(--resizer-height,10px) / 2); }
.resizer[data-resizer ^= "2"]{ bottom:calc( var(--resizer-height-gap) * -1 ); }
.resizer[data-resizer $= "0"]{ left:calc( var(--resizer-height-gap) * -1 ); }
.resizer[data-resizer $= "1"]{ left:calc( 50% - var(--resizer-height,10px) / 2); }
.resizer[data-resizer $= "2"]{ right:calc( var(--resizer-height-gap) * -1 ); }
.resizer[data-resizer = "11"]{ display: none; }

.container[hide-resizer~="00"] .resizer[data-resizer="00"],
.container[hide-resizer~="01"] .resizer[data-resizer="01"],
.container[hide-resizer~="02"] .resizer[data-resizer="02"],
.container[hide-resizer~="10"] .resizer[data-resizer="10"],
.container[hide-resizer~="11"] .resizer[data-resizer="11"],
.container[hide-resizer~="12"] .resizer[data-resizer="12"],
.container[hide-resizer~="20"] .resizer[data-resizer="20"],
.container[hide-resizer~="21"] .resizer[data-resizer="21"],
.container[hide-resizer~="22"] .resizer[data-resizer="22"],
.container[hide-resizer~="*"] .resizer
{ display: none;}
.container[hide-mover] .mover
{ display: none;}

/* status */
.container :where(.mover, .resizer){
    filter: brightness(2) grayscale(1);
}
.container[active][moveable] .mover{
    filter: none;
}
.container[active][resizable] .resizer{
    filter: none;
}




/* cursor */
.resizer{ cursor: default; }
.mover{ cursor: default; }

.container[moveable] .mover{ cursor: move; }

.container[resizable] .resizer[data-resizer="00"]{ cursor: nwse-resize; }
.container[resizable] .resizer[data-resizer="01"]{ cursor: ns-resize;  }
.container[resizable] .resizer[data-resizer="02"]{ cursor: nesw-resize;  }
.container[resizable] .resizer[data-resizer="10"]{ cursor: ew-resize;  }
.container[resizable] .resizer[data-resizer="11"]{ cursor: not-allowed;  }
.container[resizable] .resizer[data-resizer="12"]{ cursor: ew-resize;  }
.container[resizable] .resizer[data-resizer="20"]{ cursor: nesw-resize;  }
.container[resizable] .resizer[data-resizer="21"]{ cursor: ns-resize;   }
.container[resizable] .resizer[data-resizer="22"]{ cursor: nwse-resize; }

.container[disabled] .mover{ cursor: not-allowed; }
.container[disabled] .resizer[data-resizer]{ cursor: not-allowed; }

/* 이벤트 가능 제어 */
/* .resizer{ pointer-events: none; }
.mover{ pointer-events: none; }
.container[active][moveable] .mover{ pointer-events: all; }
.container[active][resizable] .resizer{ pointer-events: all; } */