@charset "utf-8";
ui-transform-tool{
    /* 
    --dot-width:20px;
    --dot-height:20px;
    --border-color:#ff66ff; 
    --border-width:3px;
    */
    position: absolute;
    left:0;top:0;
    width:100px;height:100px;
    z-index: 10;
}
ui-transform-tool[disabled]{
    filter: grayscale(1);
}
ui-transform-tool.active{
    z-index: 19;
}