@charset "utf-8";

*{
    box-sizing: border-box;
}
.container{
    /* 
    --thandle-width:10px;
    --thandle-height:10px;
    --thandle-border-radius:0px
    --border-color:#0066ff;
    --border-width:1px;
    */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --thandle-width-gap:calc( ( var(--thandle-width,10px) - var(--border-width,1px) ) / 2);
    --thandle-height-gap:calc( ( var(--thandle-height,10px) - var(--border-width,1px) ) / 2);

    touch-action: none;
}
.wrap{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.bbox{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border:var(--border-width,1px) solid var(--border-color,#0066ff);
}
.thandle{
    width: var(--thandle-width,10px);
    height: var(--thandle-height,10px);
    border-radius: var(--thandle-border-radius,0px);
    border:var(--border-width,1px) solid var(--border-color,#0066ff);
    background-color: #fff;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
}

.thandle[data-thandle ^= "0"]{ top:calc( var(--thandle-height-gap) * -1 ); }
.thandle[data-thandle ^= "1"]{ top:calc( 50% - var(--thandle-height,10px) / 2); }
.thandle[data-thandle ^= "2"]{ bottom:calc( var(--thandle-height-gap) * -1 ); }
.thandle[data-thandle $= "0"]{ left:calc( var(--thandle-height-gap) * -1 ); }
.thandle[data-thandle $= "1"]{ left:calc( 50% - var(--thandle-height,10px) / 2); }
.thandle[data-thandle $= "2"]{ right:calc( var(--thandle-height-gap) * -1 ); }
.thandle[data-thandle = "11"]{ display: none; }

.container[hide-thandle~="00"] .thandle[data-thandle="00"],
.container[hide-thandle~="01"] .thandle[data-thandle="01"],
.container[hide-thandle~="02"] .thandle[data-thandle="02"],
.container[hide-thandle~="10"] .thandle[data-thandle="10"],
.container[hide-thandle~="11"] .thandle[data-thandle="11"],
.container[hide-thandle~="12"] .thandle[data-thandle="12"],
.container[hide-thandle~="20"] .thandle[data-thandle="20"],
.container[hide-thandle~="21"] .thandle[data-thandle="21"],
.container[hide-thandle~="22"] .thandle[data-thandle="22"],
.container[hide-thandle~="*"] .thandle
{ display: none;}
.container[hide-bbox] .bbox
{ display: none;}

/* status */
.container :where(.bbox, .thandle){
    filter: brightness(2) grayscale(1);
}
.container[active][moveable] .bbox{
    filter: none;
}
.container[active][resizable] .thandle{
    filter: none;
}




/* cursor */
.thandle{ cursor: default; }
.bbox{ cursor: default; }

.container[moveable] .bbox{ cursor: move; }

.container[resizable] .thandle[data-thandle="00"]{ cursor: nwse-resize; }
.container[resizable] .thandle[data-thandle="01"]{ cursor: ns-resize;  }
.container[resizable] .thandle[data-thandle="02"]{ cursor: nesw-resize;  }
.container[resizable] .thandle[data-thandle="10"]{ cursor: ew-resize;  }
.container[resizable] .thandle[data-thandle="11"]{ cursor: not-allowed;  }
.container[resizable] .thandle[data-thandle="12"]{ cursor: ew-resize;  }
.container[resizable] .thandle[data-thandle="20"]{ cursor: nesw-resize;  }
.container[resizable] .thandle[data-thandle="21"]{ cursor: ns-resize;   }
.container[resizable] .thandle[data-thandle="22"]{ cursor: nwse-resize; }

.container[disabled] .bbox{ cursor: not-allowed; }
.container[disabled] .thandle[data-thandle]{ cursor: not-allowed; }
